@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,700&display=swap');

:root {
  /* Texts */
  --white07: rgba(255, 255, 255, 0.7);
  --white08: rgba(255, 255, 255, 0.8);

  /* Inputs */
  --inputBackground: #292929;

  /* Buttons */
  --lightBlue: #00A4DC;
  --darkBlue: rgb(0, 66, 88);

  /* Scrollbars */
  --scrollbarBackground: #242424;
  --scrollbarThumb: #888888;

  /* Backgrounds */
  --header: #0a0a0a;
  --body: #101010;
}

body::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

body::-webkit-scrollbar-track {
  background-color: var(--scrollbarBackground);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumb);
  border-radius: 20px;
}

body::-webkit-scrollbar-corner {
  background-color: var(--scrollbarBackground);
}

body {
  background-color: var(--body);
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

main {
  max-width: 600px;
  width: 80%;
  margin: auto;
  margin-top: max(calc(50vh - 200px), 20px);
  margin-bottom: 50px;
}

header {
  width: 100%;
  height: 54px;
  background-color: var(--header);
  user-select: none;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 32px;
  margin-left: 19px;
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

h1 {
  color: var(--white08);
  font-weight: 400;
  font-size: 1.8em;
}

h2 {
  color: var(--white07);
  font-size: 1.1em;
  font-weight: 400;
  margin-top: 44px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputs {
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 40px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: var(--inputBackground);
  color: var(--white08);
  font-size: 16px;
  padding-left: 8px;
}

.colon {
  user-select: none;
  margin-right: 4px;
}

.colon,
.url-label,
.port-label {
  color: var(--white07);
  width: 0;
}

.url-label {
  top: -40px;
  position: relative;
}

.port-label {
  position: relative;
  top: -40px;
  left: 13px;
}

#port, #url {
  border: solid 2px var(--inputBackground);
}

#url {
  width: calc(70% - 14px);
  margin-right: 13px;
}

#port {
  width: calc(30% - 14px);
  margin-left: 13px;
}

#port:focus, #url:focus {
    border: solid 2px var(--lightBlue);
}

#connect-button, #discovery-container > button {
  width: 100%;
  height: 40px;
  margin: 0;
  margin-top: 50px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: var(--lightBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#discovery-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#discovery-container > button {
  width: initial;
  margin-top: 5px;
  background-color: var(--darkBlue);
  font-weight: 400;
  transition: 0.5s;
}

#discovery-button {
  color: var(--white08);
}

#discovery-button:hover {
  background-color: var(--lightBlue);
  color: white;
}

#button-text {
  color: white;
}

#button-text, #discovery-button-text {
  font-size: 15px;
  font-weight: 700;
}

#discovery-button-text {
  font-weight: 400;
  padding: 0 20px;
}