body {
  background-color: #101010;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Noto Sans, Noto Sans HK, Noto Sans JP, Noto Sans KR, Noto Sans SC,
    sans-serif;
}

main {
  max-width: 600px;
  width: 80%;
  margin: auto;
  margin-top: calc(50vh - 200px);
}

header {
  width: 100%;
  height: 54px;
  background-color: #0a0a0a;
  user-select: none;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 32px;
  margin-left: 19px;
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

h1 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 1.8em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputs {
  margin-top: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 40px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #292929;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  padding-left: 8px;
}

.colon,
.url-label,
.port-label {
  color: rgba(255, 255, 255, 0.7);
  width: 0;
}

.url-label {
  top: -40px;
  position: relative;
}

.port-label {
  position: relative;
  top: -40px;
  left: 13px;
}

#port, #url {
  border: solid 2px #292929;
}

#url {
  width: calc(70% - 14px);
  margin-right: 13px;
}

#port {
  width: calc(30% - 14px);
  margin-left: 13px;
}

#port:focus, #url:focus {
    border: solid 2px #00A4DC;
}

#connect-button {
  width: 100%;
  height: 40px;
  margin: 0;
  margin-top: 50px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #00A4DC;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#button-text {
  color: white;
  font-size: 15px;
  font-weight: 700;
}

#discovery-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#discovery-container > button {
  outline: none;
  border: none;
  border-radius: 4px;
  width: 25%;
  height: 30px;
  background-color: #00A4DC;
  cursor: pointer;
}