body {
    background-color: #101010;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Noto Sans,Noto Sans HK,Noto Sans JP,Noto Sans KR,Noto Sans SC,sans-serif;
}